
<div class="container mt-3" (window:resize)="onResize($event)">
  <app-navbar></app-navbar>

  <h2 class="fw-bold text-dark mb-3 d-sm-block mt-3 width-100 d-none">
    <span style="font-size:2rem;">My niece Poppy has lost her parents and need your help!</span>
  </h2>

  <div class="row">
    <div class="col-md-6">
      <app-image-video-carousel [mediaItems]="mediaItems"></app-image-video-carousel>

      <div *ngIf="!isMobile" class="mt-3">
        <app-custom-tab></app-custom-tab>
      </div>
    </div>

    <div *ngIf="isMobile" class="col-12">
      <h5 class="fw-semibold text-dark mt-3 lh-base" style="font-size:1.5rem;">My niece Poppy has lost parents and need your help!</h5>
    </div>

    <div class="col-md-6">
      <app-donation-info></app-donation-info>
    </div>

    <div *ngIf="isMobile" class="col-12">
      <app-custom-tab></app-custom-tab>
    </div>

    <div class="col-12 mt-3 mb-5">
      <app-faq></app-faq>
    </div>
  </div>

  <div *ngIf="isMobile" class="position-fixed bottom-0 start-0 end-0 w-100 bg-white shadow" style="z-index: 100;">
    <img src="assets/btnImage.png" alt="Donate Now button" class="img-fluid" style="max-height: 80px; object-fit: contain;width: 100%;">
  </div>
</div>
